# Font and Appearance
font_family Fira Code
font_size 20.0
bold_font yes

# Clipboard Operations
map ctrl+shift+c copy_to_clipboard
map ctrl+shift+v paste_from_clipboard

# Window Management
mouse_hide_when_typing yes
allow_remote_control yes

# Behavior and Performance
map ctrl+t new_tab
map ctrl+n new_window
